{% extends 'htmllayout.html' %}
{% block head %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="static/terminal.js"></script>
{% endblock %}
{% block body %}
<div class="container">
  <div class="form-group">
    <label for="hostname">Hostname:</label>
    <input type="text" class="form-control" id="hostname">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password"> 
    <label for="terminal">Shell:</label>
    <textarea class="form-control" rows="24" id="terminal"></textarea>
  </div>
</div>
{% endblock %}
